::ng-deep .p-inputtext {
    border: 1px solid #f43f5e !important;
    /* rose-500 */
    border-radius: 0.375rem !important;
    /* rounded-md */
    box-shadow: none !important;
}

::ng-deep .p-inputtext:focus {
    border-color: #e11d48 !important;
    /* rose-600 */
    box-shadow: 0 0 0 1px #e11d48 !important;
}

::ng-deep .p-password input {
    border: 1px solid #f43f5e !important;
    border-radius: 0.375rem !important;
}

::ng-deep .p-password input:focus {
    border-color: #e11d48 !important;
    box-shadow: 0 0 0 1px #e11d48 !important;
}

::ng-deep .p-button {
    background-color: #f43f5e !important;
    border-color: #f43f5e !important;
    color: white !important;
}

::ng-deep .p-button:hover {
    background-color: #e11d48 !important;
    border-color: #e11d48 !important;
}
