<p-toast></p-toast>

<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New Department" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined
            (onClick)="deleteSelectedDepartments()" [disabled]="!selectedDepartments || !selectedDepartments.length" />
    </ng-template>
</p-toolbar>

<p-table #dt [value]="departments" [rows]="10" [columns]="cols" [paginator]="true"
    [globalFilterFields]="['name', 'manager', 'status']" [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedDepartments" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} departments" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Manage Departments</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th pSortableColumn="name" style="min-width:12rem">
                Name
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="description" style="min-width:16rem">
                Description
                <p-sortIcon field="description" />
            </th>
            <th style="min-width: 12rem"></th>
        </tr>
    </ng-template>

    <ng-template #body let-department>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="department" />
            </td>
            <td style="min-width: 12rem">{{ department.name }}</td>
            <td style="min-width: 12rem">{{ department.description }}</td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editDepartment(department)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteDepartment(department)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="departmentDialog" [style]="{ width: '550px' }" header="Department Details" [modal]="true"
    [closable]="false" [baseZIndex]="10000">
    <ng-template pTemplate="content">
        <div class="flex justify-center items-center min-h-[200px]">
            <div class="flex flex-col gap-6 w-full max-w-md">

                <div>
                    <label for="name" class="block font-bold mb-3">Department Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="department.name" required autofocus
                        class="w-full" />
                </div>

                <div>
                    <label for="description" class="block font-bold mb-3">Description</label>
                    <input type="text" pInputText id="description" [(ngModel)]="department.description" required
                        class="w-full" />
                </div>

            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 w-full">
            <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>

            <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveDepartment()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog></p-confirmDialog>
