<div class="card">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h4>Invoices</h4>
        </ng-template>
        <ng-template pTemplate="right">
            <p-button label="New Invoice" icon="pi pi-plus"
                     (click)="createInvoice()"></p-button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="invoices" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Number</th>
                <th>Client</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-invoice>
            <tr>
                <td>{{invoice.number}}</td>
                <td>{{invoice.clientName}}</td>
                <td>{{invoice.date | date}}</td>
                <td>{{invoice.amount | currency}}</td>
                <td>
                    <p-tag [value]="invoice.status"
                          [severity]="getStatusSeverity(invoice.status)">
                    </p-tag>
                </td>
                <td>
                    <button pButton icon="pi pi-eye"
                           (click)="viewInvoice(invoice)"></button>
                    <button pButton icon="pi pi-print"
                           (click)="printInvoice(invoice)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
